.background-image {
  background-image: url("../../../../public/images/leeds-clocktower.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.register-form-box {
  width: 500px;
  height: auto;
  padding: 16px;
  margin: 64px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.register-form-wrapper {
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

.register-label {
  font-weight: bold;
  font-family: Inter, sans-serif;
}

.register-input {
  border: none;
  box-shadow: 0 2px 0 0 var(--primary);
  padding: 8px;
  font-size: 20px;
  margin-bottom: 32px;
}

.register-input:focus {
  outline: none;
}

.register {
  text-align: left;
  color: grey;
}

.error-messages-wrapper p {
  margin: 0;
  color: red;
}
