table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

td.article-row-title {
  text-align: left;
}

.article-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.article-table-wrapper td button {
  margin: 1px;
}

.article-row-loading {
}

td {
  padding: 4px;
}
