.title-box-wrapper {
  margin: 0;
}

.title-box {
  /* background-position: center; */
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  height: 220px;
  margin: 0;
  padding: 25px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-box-title {
  color: attr(font);
  font-size: 2em;
  font-weight: bold;
  font-family: Inter, sans-serif;
  margin: 0;
}
