.show-profile-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.show-profile-primary {
    justify-content: space-evenly;
    display: flex;
    width: 500px;
    padding-top: 50px;
}

.show-profile-secondary {
    padding-top: 25px;
}

.show-profile-name {
    margin-bottom: 2px;
    font-size: 1.3em;
}

.show-profile-position {
margin-top: 0;
font-weight: bold;
}

.show-profile-aboutme {
margin: 0;
line-height: 1.5;
font-weight: bold;
}

.show-profile-text {
    width: 220px;
}

.show-profile-image {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 200px;
}

.show-profile-text-break {
    margin-right: 16px;
    border: 5px solid var(--primary);
  }
.show-profile-wrapper p {
    font-family: Inter, sans-serif;
  }

.show-profile-linkedin-logo {
    font-size: 1.8em;
    margin: 0;
    text-align: left;
    color: var(--primary);
}

.show-profile-linkedin-logo a {
    text-decoration: none;
}

.show-profile-linkedin-logo a:visited {
    color: blue;
}